<p>
  <%= @gif.generator %>
</p>
<image>
  <img id="<%= @gif.id %>" src="<%= @gif.url %>"/>
</image>
<%= link_to "Delete Gif", gif_path(@gif), method: :delete %>
<div id="comments">
  <%= render @comments %>
</div>
<%= render "comments/form" %>
